<div class="auth-container">

  <h2>BankSim</h2>

  <div class="tabs">
    <button (click)="setMode('login')" [class.active]="mode === 'login'">
      Login
    </button>
    <button (click)="setMode('signup')" [class.active]="mode === 'signup'">
      Criar Conta
    </button>
  </div>

  <!-- LOGIN -->
  <form *ngIf="mode === 'login'" (ngSubmit)="login()">
    <label>Login</label>
    <input type="number" [(ngModel)]="loginData.userId" name="loginUserId">

    <label>Password</label>
    <input type="password" [(ngModel)]="loginData.password" name="loginPassword">

    <button class="btn" [disabled]="isLoading">
      <span *ngIf="!isLoading">Entrar</span>
      <span *ngIf="isLoading" class="spinner"></span>
    </button>
    <p class="error">{{ loginError }}</p>
  </form>

  <!-- SIGNUP -->
  <form *ngIf="mode === 'signup'" (ngSubmit)="signup()">
    
    <label>Username</label>
    <input type="text" [(ngModel)]="signupData.username" name="signupUsername">

    <label>Password</label>
    <input type="password" [(ngModel)]="signupData.password" name="signupPassword">

    <label>CPF</label>
    <input type="text" [(ngModel)]="signupData.cpf" name="signupCpf">

    <button class="btn">Criar Conta</button>
    <p class="error">{{ signupError }}</p>
  </form>
 
  <div style="margin: 5px 0; text-align: center;"><hr></div>

  <div style="margin: 20px 0; text-align: center;">
    <button
      class="btn deposit-btn"
      [routerLink]="['/deposit']">
      💰 Fazer Depósito 
    </button>
  </div>

</div>
